**__pycache__
/dist
/venv
.env

# pip install -t .
*.dist-info/
/bin/
*.so
**/*mypyc*.so
/_cffi_backend*.so
/_yaml/
/PIL/
/annotated_types/
/anyio/
/certifi/
/cffi/
/charset_normalizer/
/cryptography/
/fitz/
/h11/
/httpcore/
/httpx/
/idna/
/jsonpatch.py
/jsonpointer.py
/langchain_core/
/langchain_protocol/
/langchain_text_splitters/
/langsmith/
/numpy/
/orjson/
/packaging/
/pdfminer/
/pdfplumber/
/psycopg2/
/pycparser/
/pydantic/
/pydantic_core/
/pymupdf/
/pypdfium2/
/pypdfium2_cfg/
/pypdfium2_cli/
/pypdfium2_raw/
/requests/
/requests_toolbelt/
/tenacity/
/typing_extensions.py
/typing_inspection/
/urllib3/
/uuid_utils/
/xxhash/
/yaml/
/zstandard/